[submodule "images"]
	path = images
	url = https://github.com/lsst-dm/images
[submodule "operations_milestones"]
	path = operations_milestones
	url = https://github.com/womullan/operations_milestones.git
